### Columnas de Floor

In [50]:
import pandas as pd
import numpy as np
import re

In [51]:
data_location = "./properati.csv"
data = pd.read_csv(data_location, sep=",")
print(data.dtypes)
data.head(3)

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [52]:
data.shape

(121220, 26)

In [53]:
#Creación de una nueva columna con la copia de los valores de la columna 'floor'
data['floor_copia'] = data['floor']

In [54]:
#Comprobación de valores null en data['floor_copia']

In [55]:
data['floor_copia'].isnull().value_counts()

True     113321
False      7899
Name: floor_copia, dtype: int64

In [56]:
description_series = data['description']

In [57]:
description_series = description_series.astype(str).str.lower()

In [38]:
patron = "(?P<numero>\d+)[\°]?\spiso"
busca = re.compile(patron)

description_series_match = description_series.apply(lambda x:  x if x is np.NaN else busca.search(x))

mask_description_notnull = description_series_match.notnull()

In [58]:
data.loc[mask_description_notnull,'floor_copia'] = description_series_match[mask_description_notnull].apply(lambda x: x.group('numero'))

In [59]:
data.loc[mask_description_notnull, ['floor_copia', 'description']]

       floor_copia                                        description
2                3  2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...
3                1  PH 3 ambientes con patio. Hay 3 deptos en lote...
17               6  Excelente 3 ambientes en un 6 piso y con terra...
33               6  Excelente 3 ambientes en un 6 piso en esquina ...
44               8  Ideal Desarrollistas:Zona UCA .Densidad 800 ( ...
...            ...                                                ...
121202          14  UBICACIÓNEstratégicamente ubicado en calle Obi...
121203          14  UBICACIÓNEstratégicamente ubicado en calle Obi...
121204          14  UBICACIÓNEstratégicamente ubicado en calle Obi...
121205          14  UBICACIÓNEstratégicamente ubicado en calle Obi...
121206          14  UBICACIÓNEstratégicamente ubicado en calle Obi...

[11961 rows x 2 columns]

In [60]:
data['floor_copia'].isnull().value_counts()

True     102615
False     18605
Name: floor_copia, dtype: int64

In [63]:
patron = "(?P<numero>\d+)[\w*]?\spiso"
busca = re.compile(patron)

description_series_match = description_series.apply(lambda x:  x if x is np.NaN else busca.search(x))

mask_description_notnull = description_series_match.notnull()
data.loc[mask_description_notnull,'floor_copia'] = description_series_match[mask_description_notnull].apply(lambda x: x.group('numero'))

In [64]:
data['floor_copia'].isnull().value_counts()

True     102609
False     18611
Name: floor_copia, dtype: int64

In [45]:
patron = "(?P<numero>\d+)\w*\spiso"
busca = re.compile(patron)

description_series_match = description_series.apply(lambda x:  x if x is np.NaN else busca.search(x))

mask_description_notnull = description_series_match.notnull()
data.loc[mask_description_notnull,'floor_copia'] = description_series_match[mask_description_notnull].apply(lambda x: x.group('numero'))

In [46]:
data['floor_copia'].isnull().value_counts()

True     101655
False     19565
Name: floor_copia, dtype: int64

In [48]:
valores = {'primero' : 1, 'segundo': 2, 'tercer':3, 'cuarto': 4, 'quinto': 5, 'sexto':6, 'septimo':7, 'octavo': 8, 'decimo':10, 'décimo':10}