### Columnas de Baños

In [390]:
import pandas as pd
import numpy as np
import re

In [391]:
data_location = "./properati.csv"
data = pd.read_csv(data_location, sep=",")
print(data.dtypes)
data.head(3)

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,surface_covered_in_m2,price_usd_per_m2,price_per_m2,floor,rooms,expenses,properati_url,description,title,image_thumbnail
0,0,sell,PH,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6618237,-58.5088387",-34.661824,...,40.0,1127.272727,1550.000000,NaN,NaN,NaN,http://www.properati.com.ar/15bo8_venta_ph_mat...,"2 AMBIENTES TIPO CASA PLANTA BAJA POR PASILLO,...",2 AMB TIPO CASA SIN EXPENSAS EN PB,https://thumbs4.properati.com/8/BluUYiHJLhgIIK...
1,1,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,"-34.9038831,-57.9643295",-34.903883,...,NaN,NaN,NaN,NaN,NaN,NaN,http://www.properati.com.ar/15bob_venta_depart...,Venta de departamento en décimo piso al frente...,VENTA Depto 2 dorm. a estrenar 7 e/ 36 y 37 ...,https://thumbs4.properati.com/7/ikpVBu2ztHA7jv...
2,2,sell,apartment,Mataderos,|Argentina|Capital Federal|Mataderos|,Argentina,Capital Federal,3430787.0,"-34.6522615,-58.5229825",-34.652262,...,55.0,1309.090909,1309.090909,NaN,NaN,NaN,http://www.properati.com.ar/15bod_venta_depart...,2 AMBIENTES 3ER PISO LATERAL LIVING COMEDOR AM...,2 AMB 3ER PISO CON ASCENSOR APTO CREDITO,https://thumbs4.properati.com/5/SXKr34F_IwG3W_...

In [392]:
data.shape

(121220, 26)

In [393]:
#Creación de una nueva columna 'baños' vacia, la cual va a contener la cantidad de baños en una propiedad
data['baños'] = np.nan

In [394]:
#Comprobación de valores null en 'baños'
data['baños'].isnull().value_counts()

True    121220
Name: baños, dtype: int64

In [395]:
#Cambio a minúscula estas dos nuevas columnas creadas
data['description_copia'] = data['description'].astype(str).str.lower()
data['title_copia']= data['title'].astype(str).str.lower()

In [396]:
#Comprobación de valores null en data 'description_copia'
data['description_copia'].isnull().value_counts()

False    121220
Name: description_copia, dtype: int64

In [397]:
#Comprobación de valores null en data 'title_copia'
data['title_copia'].isnull().value_counts()

False    121220
Name: title_copia, dtype: int64

#### Búsqueda de baños con expresiones regulares:

In [398]:
patron = "\s(?P<numero>\d[\d]?)\s+baño[s]?"
busca = re.compile(patron)

description_series_match = data.description_copia.apply(lambda x:  x if x is np.NaN else busca.search(x))

mask_description_notnull = description_series_match.notnull()
data.loc[mask_description_notnull,'baños'] = description_series_match[mask_description_notnull].apply(lambda x: x.group('numero')).astype(float)

In [399]:
data['baños'].isnull().value_counts()

True     111067
False     10153
Name: baños, dtype: int64

In [400]:
bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 20, 30, 40, 50, 1000, 2000]
baños = pd.cut(data.baños, bins, right = False)
data.pivot_table('baños', index = [baños], aggfunc={'baños': 'count'})

              baños
baños
[0, 1)            0
[1, 2)         3342
[2, 3)         5068
[3, 4)         1192
[4, 5)          356
[5, 6)          121
[6, 7)           36
[7, 8)           13
[8, 9)            8
[9, 15)           8
[15, 20)          2
[20, 30)          1
[30, 40)          1
[40, 50)          3
[50, 1000)        2
[1000, 2000)      0

In [401]:
data.loc[mask_description_notnull, ['description_copia', 'title_copia']] = ""

In [402]:
patron = "\s(?P<numero>\d[\d]?)\s+baã±o[s]?"
busca = re.compile(patron)

description_series_match = data.description_copia.apply(lambda x:  x if x is np.NaN else busca.search(x))

mask_description_notnull = description_series_match.notnull()
data.loc[mask_description_notnull,'baños'] = description_series_match[mask_description_notnull].apply(lambda x: x.group('numero')).astype(float)

In [403]:
data['baños'].isnull().value_counts()

True     110519
False     10701
Name: baños, dtype: int64

In [404]:
bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 20, 30, 40, 50, 1000, 2000]
baños = pd.cut(data.baños, bins, right = False)
data.pivot_table('baños', index = [baños], aggfunc={'baños': 'count'})

              baños
baños
[0, 1)            0
[1, 2)         3623
[2, 3)         5240
[3, 4)         1246
[4, 5)          375
[5, 6)          133
[6, 7)           42
[7, 8)           14
[8, 9)            8
[9, 15)          10
[15, 20)          2
[20, 30)          1
[30, 40)          2
[40, 50)          3
[50, 1000)        2
[1000, 2000)      0

In [405]:
patron = "\sbaño[s]?\s*:\s*(?P<numero>\d[\d]?)"
busca = re.compile(patron)

description_series_match = data.description_copia.apply(lambda x:  x if x is np.NaN else busca.search(x))

mask_description_notnull = description_series_match.notnull()
data.loc[mask_description_notnull,'baños'] = description_series_match[mask_description_notnull].apply(lambda x: x.group('numero')).astype(float)

In [406]:
data['baños'].isnull().value_counts()

True     110333
False     10887
Name: baños, dtype: int64

In [407]:
bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 20, 30, 40, 50, 1000, 2000]
baños = pd.cut(data.baños, bins, right = False)
data.pivot_table('baños', index = [baños], aggfunc={'baños': 'count'})

              baños
baños
[0, 1)            0
[1, 2)         3697
[2, 3)         5320
[3, 4)         1261
[4, 5)          385
[5, 6)          136
[6, 7)           43
[7, 8)           15
[8, 9)            8
[9, 15)          10
[15, 20)          2
[20, 30)          3
[30, 40)          2
[40, 50)          3
[50, 1000)        2
[1000, 2000)      0

In [408]:
data.loc[mask_description_notnull, ['description_copia', 'title_copia']] = ""

In [409]:
patron = r"\s(un|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez|once|doce|trece|catorce|quince|dieciseis|diecisiete|dieciocho|diecinueve|veinte)[\s]*baño[s]?"
busca = re.compile(patron)

description_series_match = data.description_copia.apply(lambda x:  x if x is np.NaN else busca.search(x))
mask_description_notnull = description_series_match.notnull()
encontradas = description_series_match[mask_description_notnull].apply(lambda x: x.group(1))

num_pisos_mapper = {'un': 1,'dos':2, 'tres': 3, 'cuatro': 4, 'cinco': 5, 'seis': 6, \
                    'siete':7, 'ocho': 8, 'nueve': 9, 'diez': 10, \
                    'once': 11, 'doce': 12, 'trece': 13, 'catorce': 14, 'quice': 15, 'dieciseis': 16, \
                    'diecisiete': 17, 'dieciocho': 18, 'diecinueve': 19,\
                    'veinte': 20}
encontradas1 = encontradas.map(num_pisos_mapper)

In [410]:
data.loc[mask_description_notnull,'baños']= encontradas1.astype(float)

In [411]:
data['baños'].isnull().value_counts()

True     100636
False     20584
Name: baños, dtype: int64

In [412]:
bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 20, 30, 40, 50, 1000, 2000]
baños = pd.cut(data.baños, bins, right = False)
data.pivot_table('baños', index = [baños], aggfunc={'baños': 'count'})

              baños
baños
[0, 1)            0
[1, 2)        10341
[2, 3)         8046
[3, 4)         1526
[4, 5)          431
[5, 6)          146
[6, 7)           48
[7, 8)           16
[8, 9)            8
[9, 15)          10
[15, 20)          2
[20, 30)          3
[30, 40)          2
[40, 50)          3
[50, 1000)        2
[1000, 2000)      0

In [413]:
data.loc[mask_description_notnull, ['description_copia', 'title_copia']] = ""

In [414]:
patron = r"\s(un|dos|tres|cuatro|cinco|seis|siete|ocho|nueve|diez|once|doce|trece|catorce|quince|dieciseis|diecisiete|dieciocho|diecinueve|veinte)[\s]*baã±o[s]?"
busca = re.compile(patron)

description_series_match = data.description_copia.apply(lambda x:  x if x is np.NaN else busca.search(x))
mask_description_notnull = description_series_match.notnull()
encontradas = description_series_match[mask_description_notnull].apply(lambda x: x.group(1))

num_pisos_mapper = {'un': 1,'dos':2, 'tres': 3, 'cuatro': 4, 'cinco': 5, 'seis': 6, \
                    'siete':7, 'ocho': 8, 'nueve': 9, 'diez': 10, \
                    'once': 11, 'doce': 12, 'trece': 13, 'catorce': 14, 'quice': 15, 'dieciseis': 16, \
                    'diecisiete': 17, 'dieciocho': 18, 'diecinueve': 19,\
                    'veinte': 20}
encontradas1 = encontradas.map(num_pisos_mapper)

In [415]:
data.loc[mask_description_notnull,'baños']= encontradas1.astype(float)

In [416]:
data['baños'].isnull().value_counts()

True     99920
False    21300
Name: baños, dtype: int64

In [417]:
bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 20, 30, 40, 50, 1000, 2000]
baños = pd.cut(data.baños, bins, right = False)
data.pivot_table('baños', index = [baños], aggfunc={'baños': 'count'})

              baños
baños
[0, 1)            0
[1, 2)        10979
[2, 3)         8122
[3, 4)         1528
[4, 5)          431
[5, 6)          146
[6, 7)           48
[7, 8)           16
[8, 9)            8
[9, 15)          10
[15, 20)          2
[20, 30)          3
[30, 40)          2
[40, 50)          3
[50, 1000)        2
[1000, 2000)      0

#### Ahora busco con las mismas regex pero con la columna 'title_copia'

In [418]:
patron = "\s(?P<numero>\d[\d]?)\s*baño[s]?"
busca = re.compile(patron)

description_series_match = data.title_copia.apply(lambda x:  x if x is np.NaN else busca.search(x))

mask_description_notnull = description_series_match.notnull()
data.loc[mask_description_notnull,'baños'] = description_series_match[mask_description_notnull].apply(lambda x: x.group('numero')).astype(float)

In [419]:
data['baños'].isnull().value_counts()

True     99748
False    21472
Name: baños, dtype: int64

In [420]:
bins = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 15, 20, 30, 40, 50, 1000, 2000]
baños = pd.cut(data.baños, bins, right = False)
data.pivot_table('baños', index = [baños], aggfunc={'baños': 'count'})

              baños
baños
[0, 1)            0
[1, 2)        10983
[2, 3)         8246
[3, 4)         1562
[4, 5)          438
[5, 6)          149
[6, 7)           48
[7, 8)           16
[8, 9)            8
[9, 15)          10
[15, 20)          2
[20, 30)          3
[30, 40)          2
[40, 50)          3
[50, 1000)        2
[1000, 2000)      0

In [421]:
data.loc[mask_description_notnull, ['description_copia', 'title_copia']] = ""

In [ ]:
patron = r"\sbaño[s]?"
busca = re.compile(patron)

description_series_match = data.title_copia.apply(lambda x:  x if x is np.NaN else busca.findall(x))
mask_description_notnull = description_series_match.notnull()
encontradas = description_series_match[mask_description_notnull].apply(lambda x: x.group(1))

num_pisos_mapper = {'un': 1,'dos':2, 'tres': 3, 'cuatro': 4, 'cinco': 5, 'seis': 6, \
                    'siete':7, 'ocho': 8, 'nueve': 9, 'diez': 10, \
                    'once': 11, 'doce': 12, 'trece': 13, 'catorce': 14, 'quice': 15, 'dieciseis': 16, \
                    'diecisiete': 17, 'dieciocho': 18, 'diecinueve': 19,\
                    'veinte': 20}
encontradas1 = encontradas.map(num_pisos_mapper)

In [267]:
data.loc[data.description_copia != ""].sample(40)

,Unnamed: 0,operation,property_type,place_name,place_with_parent_names,country_name,state_name,geonames_id,lat-lon,lat,...,floor,rooms,expenses,properati_url,description,title,image_thumbnail,baños,description_copia,title_copia
113013,113013,sell,apartment,Nordelta,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,"-34.4150913,-58.6394399",-34.415091,...,NaN,NaN,NaN,http://www.properati.com.ar/1c7sk_venta_depart...,Venta de Departamento 2 AMBIENTES en Q-Bay Isl...,DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/9/41y_WCjxzUaNSa...,NaN,venta de departamento 2 ambientes en q-bay isl...,departamento en venta
55024,55024,sell,house,Punta Indio,|Argentina|Buenos Aires Interior|Punta Indio|,Argentina,Buenos Aires Interior,3429692.0,"-35.3981091,-57.322414",-35.398109,...,NaN,3.0,NaN,http://www.properati.com.ar/19oa2_venta_casa_p...,CASA ZONA RINGUELET ( LA PLATA ),CASA RINGUELET,https://thumbs4.properati.com/1/c5MMAW_aYipSD_...,NaN,casa zona ringuelet ( la plata ),casa ringuelet
10479,10479,sell,apartment,Villa Crespo,|Argentina|Capital Federal|Villa Crespo|,Argentina,Capital Federal,3427458.0,"-34.595822,-58.438988",-34.595822,...,NaN,1.0,NaN,http://www.properati.com.ar/1685l_venta_depart...,Edificio ubicado en esquina cuya unidades dan ...,Departamento de 1 ambiente en Venta en Villa c...,https://thumbs4.properati.com/5/B5sJm86A05hOPi...,NaN,edificio ubicado en esquina cuya unidades dan ...,departamento de 1 ambiente en venta en villa c...
108137,108137,sell,apartment,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|La ...,Argentina,Bs.As. G.B.A. Zona Sur,3432039.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1bziq_venta_depart...,DEPARTAMENTO A ESTRENAR . MONOAMBIENTE CONTRAF...,Departamento - La Plata,https://thumbs4.properati.com/7/-elEHWDM7L_ty6...,NaN,departamento a estrenar . monoambiente contraf...,departamento - la plata
4845,4845,sell,house,Barracas,|Argentina|Capital Federal|Barracas|,Argentina,Capital Federal,3436134.0,"-34.6474429,-58.3788197",-34.647443,...,NaN,NaN,NaN,http://www.properati.com.ar/15ob5_venta_casa_b...,"Bellisima casa, totalmente reciclada a nuevo, ...",Casa en terreno propio,https://thumbs4.properati.com/2/GuL_ByQ7aL3sh1...,NaN,"bellisima casa, totalmente reciclada a nuevo, ...",casa en terreno propio
40367,40367,sell,apartment,Saavedra,|Argentina|Capital Federal|Saavedra|,Argentina,Capital Federal,3429422.0,"-34.5548727,-58.493826",-34.554873,...,NaN,3.0,NaN,http://www.properati.com.ar/18r6b_venta_depart...,Espectacular vista y ubicación,SAAVEDRA 3 AMB exc vista,https://thumbs4.properati.com/2/OOKIqX_hBi5y9b...,NaN,espectacular vista y ubicación,saavedra 3 amb exc vista
89563,89563,sell,apartment,Villa Ballester,|Argentina|Bs.As. G.B.A. Zona Norte|General Sa...,Argentina,Bs.As. G.B.A. Zona Norte,3427467.0,"-34.5443544,-58.5686386",-34.544354,...,NaN,NaN,NaN,http://www.properati.com.ar/1b8sx_venta_depart...,Espectacular emprendimiento de 47 unidades de...,Departamento - Chilavert,https://thumbs4.properati.com/1/OOwrGXF1Jz_OK_...,NaN,espectacular emprendimiento de 47 unidades de...,departamento - chilavert
64807,64807,sell,house,Rincón de Maschwitz,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|Ri...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1abaa_venta_casa_r...,Excelente casa!!!dentro Country Rincon de Masc...,Casa de excelente calidad de construcción,https://thumbs4.properati.com/6/x4Dp1NizP-ccRJ...,NaN,excelente casa!!!dentro country rincon de masc...,casa de excelente calidad de construcción
28207,28207,sell,house,Villa Devoto,|Argentina|Capital Federal|Villa Devoto|,Argentina,Capital Federal,3427451.0,"-34.6117282594,-58.5141399418",-34.611728,...,NaN,4.0,NaN,http://www.properati.com.ar/17vlf_venta_casa_v...,"Casa 4 ambiente, reciclada a nueva. Consta de:...","Casa 4 ambientes, garage, patio, terraza, quincho",https://thumbs4.properati.com/7/U8KgTfZMmnLRjl...,NaN,"casa 4 ambiente, reciclada a nueva. consta de:...","casa 4 ambientes, garage, patio, terraza, quincho"
112640,112640,sell,apartment,Belgrano,|Argentina|Capital Federal|Belgrano|,Argentina,Capital Federal,3436077.0,"-34.552544007,-58.4429773595",-34.552544,...,NaN,NaN,3000.0,http://www.properati.com.ar/1c76b_venta_depart...,Excelente y amplio 2 ambientes con balcón ater...,Excelente departamento 2 Amb con Renta Marzo 2...,https://thumbs4.properati.com/0/3jUcaYCNnCtNUw...,NaN,excelente y amplio 2 ambientes con balcón ater...,excelente departamento 2 amb con renta marzo 2...
94559,94559,sell,apartment,Lomas de Zamora,|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1bfqo_venta_depart...,"Con una ubicación privilegiada, a pocas cuadra...",Departamento - Lomas de Zamora Oeste,https://thumbs4.properati.com/4/AIBaNgyQAeeJvJ...,NaN,"con una ubicación privilegiada, a pocas cuadra...",departamento - lomas de zamora oeste
19145,19145,sell,PH,Villa Ballester,|Argentina|Bs.As. G.B.A. Zona Norte|General Sa...,Argentina,Bs.As. G.B.A. Zona Norte,3427467.0,"-34.5384101,-58.5458523",-34.538410,...,NaN,3.0,NaN,http://www.properati.com.ar/178xn_venta_ph_gen...,PH DE TRES AMBIENTES CON PATIO ATERRAZADO1ER. ...,PH TRES AMBIENTES CON PATIO ATERRAZADO,https://thumbs4.properati.com/0/6-27fzh4pl7ro6...,NaN,ph de tres ambientes con patio aterrazado1er. ...,ph tres ambientes con patio aterrazado
2246,2246,sell,apartment,Esteban Echeverría,|Argentina|Bs.As. G.B.A. Zona Sur|Esteban Eche...,Argentina,Bs.As. G.B.A. Zona Sur,3434003.0,"-34.84500122,-58.4640007",-34.845001,...,NaN,2.0,NaN,http://www.properati.com.ar/15jy8_venta_depart...,TERRALAGOS - DEPARTAMENTO DOS AMBIENTES A ESTR...,U$D 4.400 - Departamento en Venta - Cuotas Ter...,https://thumbs4.properati.com/1/Le9vOOTaZwV9a5...,NaN,terralagos - departamento dos ambientes a estr...,u$d 4.400 - departamento en venta - cuotas ter...
20726,20726,sell,house,Escobar,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|,Argentina,Bs.As. G.B.A. Zona Norte,3434130.0,"-34.3547088536,-58.7415130716",-34.354709,...,NaN,NaN,NaN,http://www.properati.com.ar/17dlj_venta_casa_e...,Casa en construcción fecha probable de culmina...,Casa en Venta - U$S 215.000 - EL Canton Islas,https://thumbs4.properati.com/7/h6Wt2K--ma5NR0...,NaN,casa en construcción fecha probable de culmina...,casa en venta - u$s 215.000 - el canton islas
8233,8233,sell,apartment,Villa Ballester,|Argentina|Bs.As. G.B.A. Zona Norte|General Sa...,Argentina,Bs.As. G.B.A. Zona Norte,3427467.0,"-34.5472172,-58.5570596",-34.547217,...,NaN,2.0,NaN,http://www.properati.com.ar/1609w_venta_depart...,Departamento 2 ambientes con terraza propia y ...,Departamento en Venta. Ambientes. Dormitorio. ...,https://thumbs4.properati.com/8/FK9gzOmPPyPizw...,NaN,departamento 2 ambientes con terraza propia y ...,departamento en venta. ambientes. dormitorio. ...
107676,107676,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1byk9_venta_depart...,Sergio Villella Inmobiliaria presenta departam...,Departamento - Centro,https://thumbs4.properati.com/9/G6KEBTptcajRJq...,NaN,sergio villella inmobiliaria presenta departam...,departamento - centro
26000,26000,sell,house,Villa General Belgrano,|Argentina|Córdoba|Villa General Belgrano|,Argentina,Córdoba,3832734.0,"-31.9691414154,-64.554656357",-31.969141,...,NaN,5.0,NaN,http://www.properati.com.ar/17qnc_venta_casa_v...,Casa en venta en Villa General Belgrano en el ...,Casa En Venta En Zona Residencial De Villa Gra...,https://thumbs4.properati.com/5/C7Da3k95C3avU2...,NaN,casa en venta en villa general belgrano en el ...,casa en venta en zona residencial de villa gra...
3381,3381,sell,house,Merlo,|Argentina|Bs.As. G.B.A. Zona Oeste|Merlo|,Argentina,Bs.As. G.B.A. Zona Oeste,3430696.0,"-34.76111984,-58.81089401",-34.761120,...,NaN,3.0,NaN,http://www.properati.com.ar/15l3s_venta_casa_m...,XINTEL(ATT-ATT-916) PADUA VENTA CASA. MUY BUEN...,U$D 110.000 - Casa en Venta - Scalabrini Ortiz...,https://thumbs4.properati.com/9/Q6C7lisdk7m3N0...,NaN,xintel(att-att-916) padua venta casa. muy buen...,u$d 110.000 - casa en venta - scalabrini ortiz...
75810,75810,sell,apartment,Caballito,|Argentina|Capital Federal|Caballito|,Argentina,Capital Federal,3435874.0,"-34.6283338,-58.4386129",-34.628334,...,NaN,NaN,NaN,http://www.properati.com.ar/1aqr1_venta_depart...,D'Odorico PropiedadesRef. Propiedad: DBU2790 A...,Departamento en Caballito,https://thumbs4.properati.com/2/G6DXDYf11M-ROC...,NaN,d'odorico propiedadesref. propiedad: dbu2790 a...,departamento en caballito
94514,94514,sell,PH,Lanús,|Argentina|Bs.As. G.B.A. Zona Sur|Lanús|Lanús|,Argentina,Bs.As. G.B.A. Zona Sur,NaN,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1bfnz_venta_ph_lan...,"Monoambiente en Planta Alta, con Cocina y Baño...",Casa en Lanús Este,https://thumbs4.properati.com/1/aSK_D8VNUlTxBG...,NaN,"monoambiente en planta alta, con cocina y baño...",casa en lanús este
74626,74626,sell,apartment,Lanús,|Argentina|Bs.As. G.B.A. Zona Sur|Lanús|Lanús|,Argentina,Bs.As. G.B.A. Zona Sur,NaN,NaN,NaN,...,NaN,NaN,2.0,http://www.properati.com.ar/1ap87_venta_depart...,DUPLEX 3 AMBIENTES MUY BUEN ESTADO ...,DEPARTAMENTO TRES AMBIENTES,https://thumbs4.properati.com/0/qMvZixiz9BHyc0...,NaN,duplex 3 ambientes muy buen estado ...,departamento tres ambientes
107232,107232,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1bxq5_venta_depart...,Este valor no incluye la cochera,Departamento - Centro,https://thumbs4.properati.com/0/yAQse55EkUUDHs...,NaN,este valor no incluye la cochera,departamento - centro
8211,8211,sell,house,Lomas de Zamora,|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...,Argentina,Bs.As. G.B.A. Zona Sur,3431270.0,"-34.7689818,-58.4410753",-34.768982,...,NaN,NaN,NaN,http://www.properati.com.ar/1606f_venta_casa_l...,CODIGO: 3439-VVL124 ubicado en: Famatina - Pu...,IMPERDIBLE CASA EN LOMAS DE 3 AMB. CON GRAN PA...,https://thumbs4.properati.com/4/_vCrhfTEPp69zn...,NaN,codigo: 3439-vvl124 ubicado en: famatina - pu...,imperdible casa en lomas de 3 amb. con gran pa...
79909,79909,sell,apartment,Lomas de Zamora,|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...,Argentina,Bs.As. G.B.A. Zona Sur,NaN,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1aw63_venta_depart...,Departamentos de 2 ambientes ...,Departamento en Lomas de Zamora Este,https://thumbs4.properati.com/9/3s6Ppxkylpi5BL...,NaN,departamentos de 2 ambientes ...,departamento en lomas de zamora este
103423,103423,sell,apartment,Nordelta,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...,Argentina,Bs.As. G.B.A. Zona Norte,NaN,NaN,NaN,...,NaN,NaN,3700.0,http://www.properati.com.ar/1bry0_venta_depart...,Impecable departamento tipo Lof con el estilo ...,Venta-Departamento-2amb - Chateau del Palmar- ...,https://thumbs4.properati.com/9/E8NnZ9r6k7vKSq...,NaN,impecable departamento tipo lof con el estilo ...,venta-departamento-2amb - chateau del palmar- ...
8526,8526,sell,house,Benavidez,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Bena...,Argentina,Bs.As. G.B.A. Zona Norte,3436048.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/161ah_venta_casa_b...,Impecable casa en el Barrio cerrado SAN AGUSTI...,"Casa 758m² con Teléfono, Tigre, Benavidez, por...",https://thumbs4.properati.com/2/QPtH79zirA-8KW...,NaN,impecable casa en el barrio cerrado san agusti...,"casa 758m² con teléfono, tigre, benavidez, por..."
35104,35104,sell,house,Don Torcuato,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Don ...,Argentina,Bs.As. G.B.A. Zona Norte,3435010.0,"-34.485264,-58.624331",-34.485264,...,NaN,7.0,NaN,http://www.properati.com.ar/18dmo_venta_casa_d...,Corredor Responsable: Ramiro Cappelloni - C.M....,Casa de 380mts sobre lote de 1000 zona residen...,https://thumbs4.properati.com/1/zRBeWJTS5gMwRy...,NaN,corredor responsable: ramiro cappelloni - c.m....,casa de 380mts sobre lote de 1000 zona residen...
30831,30831,sell,PH,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-37.9936982,-57.5649859",-37.993698,...,NaN,3.0,NaN,http://www.properati.com.ar/182v4_venta_ph_mar...,PH EN PLANTA ALTA PRIMER PISO POR ESCALERA. G...,PH 3 AMBIENTES CON PATIO. PLANTA ALTA EN VENTA...,https://thumbs4.properati.com/6/Rqg_yVegTHfGoz...,NaN,ph en planta alta primer piso por escalera. g...,ph 3 ambientes con patio. planta alta en venta...
49861,49861,sell,apartment,Almagro,|Argentina|Capital Federal|Almagro|,Argentina,Capital Federal,3436397.0,"-34.609797,-58.4275033",-34.609797,...,NaN,3.0,1300.0,http://www.properati.com.ar/19cx6_venta_depart...,"Venta de Departamento 3 AMBIENTES en Almagro, ...",DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/0/K9e2HU2AK77CJr...,NaN,"venta de departamento 3 ambientes en almagro, ...",departamento en venta
9286,9286,sell,apartment,Balvanera,|Argentina|Capital Federal|Balvanera|,Argentina,Capital Federal,6693228.0,"-34.6168523,-58.3913381",-34.616852,...,NaN,1.0,NaN,http://www.properati.com.ar/163mk_venta_depart...,"VENTA - Amplio, moderno, cómodo y luminoso mo...",VENTA - Excelente departamento de 1 amb a estr...,https://thumbs4.properati.com/2/m91gGb3OoOiBbl...,NaN,"venta - amplio, moderno, cómodo y luminoso mo...",venta - excelente departamento de 1 amb a estr...
12278,12278,sell,apartment,Coghlan,|Argentina|Capital Federal|Coghlan|,Argentina,Capital Federal,3435359.0,"-34.5677412103,-58.4721904056",-34.567741,...,1.0,NaN,2400.0,http://www.properati.com.ar/16jjr_venta_depart...,"Departamento 3 AMBIENTES en Coghlan, Capital F...",DEPARTAMENTO EN VENTA,https://thumbs4.properati.com/0/t4FHPjY3V50SJq...,NaN,"departamento 3 ambientes en coghlan, capital f...",departamento en venta
102868,102868,sell,apartment,Plaza Mitre,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,NaN,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1br4z_venta_depart...,2 AMBIENTES DE CATEGORIA EN EDIFICIO A ESTRENA...,OPORTUNIDAD URGENTE 2 AMBIENTES DE CATEGORIA A...,https://thumbs4.properati.com/3/twvko_uoS4Thz_...,NaN,2 ambientes de categoria en edificio a estrena...,oportunidad urgente 2 ambientes de categoria a...
53989,53989,sell,apartment,Olivos,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,Argentina,Bs.As. G.B.A. Zona Norte,3430310.0,"-34.510551,-58.4963913",-34.510551,...,NaN,4.0,NaN,http://www.properati.com.ar/19mcj_venta_depart...,En el Barrio de Olivos se ubica Rosales Park T...,Bustamante Propiedades | Olivos en Venta,https://thumbs4.properati.com/6/jo2ZAj0RqkUDZK...,NaN,en el barrio de olivos se ubica rosales park t...,bustamante propiedades | olivos en venta
10439,10439,sell,house,Beccar,|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...,Argentina,Bs.As. G.B.A. Zona Norte,3436080.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/16814_venta_casa_b...,"Interesante casa en una planta, en muy buen es...","Casa 230m² con Cochera en Clark, Juan 2400, Sa...",https://thumbs4.properati.com/9/T8DDKf4fZO4tYL...,NaN,"interesante casa en una planta, en muy buen es...","casa 230m² con cochera en clark, juan 2400, sa..."
14275,14275,sell,house,Mar del Plata,|Argentina|Buenos Aires Costa Atlántica|Mar de...,Argentina,Buenos Aires Costa Atlántica,3430863.0,"-38.0253808,-57.5488592",-38.025381,...,NaN,7.0,NaN,http://www.properati.com.ar/16rr2_venta_casa_m...,"Calefacción por aire, pisos cerámicos, dormito...","Venta Chalet, Divino Rostro",https://thumbs4.properati.com/0/t-cqZ7-At0jaee...,NaN,"calefacción por aire, pisos cerámicos, dormito...","venta chalet, divino rostro"
107883,107883,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1byy7_venta_depart...,Garcia Andreu Negocios Inmobiliarios ofrece en...,Departamento 27 de Febrero al 1600- Centro,https://thumbs4.properati.com/8/3KxE9UQ-T6rDEX...,NaN,garcia andreu negocios inmobiliarios ofrece en...,departamento 27 de febrero al 1600- centro
99703,99703,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1bmy1_venta_depart...,Sergio Villella Inmobiliaria presenta departam...,Departamento - Centro,https://thumbs4.properati.com/3/UV00p7vNfwX2-4...,NaN,sergio villella inmobiliaria presenta departam...,departamento - centro
102014,102014,sell,apartment,Rosario,|Argentina|Santa Fe|Rosario|,Argentina,Santa Fe,3838574.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1bq33_venta_depart...,GARCIA ANDREU -Negocios Inmobiliarios- ofrece ...,Departamento Maipu al 2100 - Macrocentro,https://thumbs4.properati.com/1/-qBZGztlWtBz1J...,NaN,garcia andreu -negocios inmobiliarios- ofrece ...,departamento maipu al 2100 - macrocentro
69202,69202,sell,apartment,Córdoba,|Argentina|Córdoba|Córdoba|,Argentina,Córdoba,3860259.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1ahy1_venta_depart...,Duit Propiedades te ofrece este exclusivo depa...,Departamento - General Paz,https://thumbs4.properati.com/0/mU8gTITxfjk11y...,NaN,duit propiedades te ofrece este exclusivo depa...,departamento - general paz
70082,70082,sell,apartment,San Carlos de Bariloche,|Argentina|Río Negro|San Carlos de Bariloche|S...,Argentina,Río Negro,3837856.0,NaN,NaN,...,NaN,NaN,NaN,http://www.properati.com.ar/1aj29_venta_depart...,Forma de pago: 40% anticipo en usd y 60% resta...,"Departamento 3 ambientes, financiado y a estre...",https://thumbs4.properati.com/6/xQeYVDhC4sQl97...,NaN,forma de pago: 40% anticipo en usd y 60% resta...,"departamento 3 ambientes, financiado y a estre..."

In [271]:
data.loc[10439, 'description_copia']

'interesante casa en una planta, en muy buen estado de conservaciã³n, living y comedor, cocina con muebles de alto y bajo mesada, dos amplios dormitorios al contrafrente, baã±o con ducha. muy lindo jardã\xadn, gran galpã³n al fondo (posible cochera cubierta) con espacio para lavadero, entrada para varios autos.medidas de lote 10 x 23 m2 aprox'