In [143]:
import pandas as pd
import numpy as np

In [144]:
data_location = "../Data/properati.csv"
data = pd.read_csv(data_location)
data.dtypes

Unnamed: 0                      int64
operation                      object
property_type                  object
place_name                     object
place_with_parent_names        object
country_name                   object
state_name                     object
geonames_id                   float64
lat-lon                        object
lat                           float64
lon                           float64
price                         float64
currency                       object
price_aprox_local_currency    float64
price_aprox_usd               float64
surface_total_in_m2           float64
surface_covered_in_m2         float64
price_usd_per_m2              float64
price_per_m2                  float64
floor                         float64
rooms                         float64
expenses                      float64
properati_url                  object
description                    object
title                          object
image_thumbnail                object
dtype: object

In [145]:
data_geolocalizacion = data.loc[ : , ["place_name", "place_with_parent_names", "geonames_id", "lat-lon", "lat", "lon"]]
display(data_geolocalizacion.head(10))
print(data_geolocalizacion.shape)

,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon
0,Mataderos,|Argentina|Capital Federal|Mataderos|,3430787.0,"-34.6618237,-58.5088387",-34.661824,-58.508839
1,La Plata,|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|,3432039.0,"-34.9038831,-57.9643295",-34.903883,-57.964330
2,Mataderos,|Argentina|Capital Federal|Mataderos|,3430787.0,"-34.6522615,-58.5229825",-34.652262,-58.522982
3,Liniers,|Argentina|Capital Federal|Liniers|,3431333.0,"-34.6477969,-58.5164244",-34.647797,-58.516424
4,Centro,|Argentina|Buenos Aires Costa Atlántica|Mar de...,3435548.0,"-38.0026256,-57.5494468",-38.002626,-57.549447
5,Gualeguaychú,|Argentina|Entre Ríos|Gualeguaychú|,3433657.0,"-33.0140714,-58.519828",-33.014071,-58.519828
6,Munro,|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...,3430511.0,"-34.5329567,-58.5217825",-34.532957,-58.521782
7,Belgrano,|Argentina|Capital Federal|Belgrano|,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362
8,Belgrano,|Argentina|Capital Federal|Belgrano|,3436077.0,"-34.5598729,-58.443362",-34.559873,-58.443362
9,Rosario,|Argentina|Santa Fe|Rosario|,3838574.0,"-32.942031,-60.7259192",-32.942031,-60.725919

(121220, 6)

In [146]:
nulos =data_geolocalizacion.isnull()
nulos.sum()

place_name                    23
place_with_parent_names        0
geonames_id                18717
lat-lon                    51550
lat                        51550
lon                        51550
dtype: int64

In [147]:
geo_nulos = data_geolocalizacion.loc[nulos.index].sort_values('place_name')
geo_nulos.head()

,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon
42404,Country Maschwitz Club,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar| C...,NaN,"-34.3782857,-58.7541862",-34.378286,-58.754186
45159,Country Maschwitz Club,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar| C...,NaN,"-34.377446,-58.756042",-34.377446,-58.756042
33586,Country Maschwitz Club,|Argentina|Bs.As. G.B.A. Zona Norte|Escobar| C...,NaN,"-34.3773892772,-58.756005714",-34.377389,-58.756006
23730,los alamos,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre| los...,NaN,"-34.4239891,-58.601876",-34.423989,-58.601876
84843,9 de Abril,|Argentina|Bs.As. G.B.A. Zona Sur|Esteban Eche...,NaN,NaN,NaN,NaN

In [343]:
geo_nulos['place_name'].value_counts().sort_values(ascending=False).head(50)

Córdoba                    9254
Rosario                    8504
Mar del Plata              6534
Tigre                      3347
Nordelta                   3315
Belgrano                   2992
Palermo                    2885
La Plata                   2534
Caballito                  2273
Pilar                      2228
Villa Urquiza              1632
Olivos                     1590
Recoleta                   1547
Lomas de Zamora            1529
Flores                     1354
Ituzaingó                  1340
Villa Crespo               1331
Capital Federal            1297
San Telmo                  1216
Morón                      1209
Almagro                    1165
Barrio Norte               1140
Ramos Mejía                1127
Martínez                   1058
Lanús                      1048
Escobar                    1037
Banfield                   1007
San Isidro                  990
Pinamar                     932
Boedo                       890
Nuñez                       778
San Miguel                  752
Adrogué                     734
Punilla                     713
Temperley                   703
Quilmes                     699
Vicente López               681
Balvanera                   667
Puerto Madero               647
San Fernando                643
Castelar                    640
San Carlos de Bariloche     639
Santa Fe                    628
Florida                     620
San Cristobal               614
Villa Carlos Paz            612
Benavidez                   604
Villa Ballester             588
Saavedra                    542
Monserrat                   538
Name: place_name, dtype: int64

### LIMPIEZA CORDOBA

In [149]:
mask_cordoba = geo_nulos['place_name']== "Córdoba"
datos_cordoba = geo_nulos.loc[mask_cordoba, :]
#datos_cordoba.sort_values(by="geonames_id").sample(10)

In [150]:
#datos_cordoba.isnull().sum()

In [151]:
#display(datos_cordoba.groupby(['geonames_id']).mean())

In [152]:
geo_mask_1 = datos_cordoba.place_with_parent_names == "|Argentina|Córdoba|Córdoba|"
geo_mask_2 = datos_cordoba.place_with_parent_names == "|Argentina|Córdoba|"

data_geolocalizacion_cordoba_3860259 = datos_cordoba.loc[geo_mask_1, :]
values_3860259 = {"geonames_id":3860259.0, "place_name":"Córdoba","place_with_parent_names": "|Argentina|Córdoba|Córdoba|", "lat-lon" : "-31.421912, -64.192741", "lat": -31.421912, "lon": -64.192741}

data_geolocalizacion_cordoba_3860255 = datos_cordoba.loc[geo_mask_2, :]
values_3860255 = {"geonames_id":3860255.0, "place_name":"Córdoba","place_with_parent_names": "|Argentina|Córdoba|","lat-lon" : "-31.411897, -64.269298", "lat": -31.411897, "lon": -64.269298}

datos_cordoba_con_3860259 = datos_cordoba.fillna(values_3860259)
datos_cordoba_completo = datos_cordoba.fillna(values_3860255)
#datos_cordoba_completo.head()

In [153]:
#datos_cordoba_completo.isnull().sum()

In [154]:
geo_nulos = geo_nulos.fillna(datos_cordoba_completo)
geo_nulos.isnull().sum()

place_name                    23
place_with_parent_names        0
geonames_id                18717
lat-lon                    45809
lat                        45809
lon                        45809
dtype: int64

### LIMPIEZA ROSARIO

In [155]:
mask_rosario = geo_nulos['place_name']== "Rosario"
datos_rosario = geo_nulos.loc[mask_rosario, :]
#datos_rosario.sort_values(by="geonames_id").sample(10)

In [156]:
#datos_rosario.isnull().sum()

In [157]:
#display(datos_rosario.groupby(['geonames_id']).mean())

In [158]:
values_3838574 = {"geonames_id":3838574.0, "place_name":"Rosario","place_with_parent_names": "|Argentina|Santa Fe|Rosario|","lat-lon" : "-32.9473, -60.661795", "lat": -32.9473, "lon": -60.661795}
datos_rosario_completo = datos_rosario.fillna(values_3838574)
#datos_rosario_completo.head()

In [159]:
#datos_rosario_completo.isnull().sum()

In [160]:
geo_nulos = geo_nulos.fillna(datos_rosario_completo)
geo_nulos.isnull().sum()

place_name                    23
place_with_parent_names        0
geonames_id                18717
lat-lon                    41291
lat                        41291
lon                        41291
dtype: int64

### LIMPIEZA MAR DEL PLATA

In [161]:
mask_mar_del_plata = geo_nulos['place_name']== "Mar del Plata"
datos_mar_del_plata = geo_nulos.loc[mask_mar_del_plata, :]
#datos_mar_del_plata.sort_values(by="geonames_id").sample(10)

In [162]:
#datos_mar_del_plata.isnull().sum()

In [163]:
#display(datos_mar_del_plata.groupby(['geonames_id']).mean())

In [164]:
values_3430863 = {"geonames_id":3430863.0, "place_name":"Mar del Plata","place_with_parent_names": "|Argentina|Buenos Aires Costa Atlántica|Mar de...","lat-lon" : "-38.006377, -57.553465", "lat": -38.006377, "lon": -57.553465}
datos_mar_del_plata_completo = datos_mar_del_plata.fillna(values_3430863)
#datos_mar_del_plata_completo.head()

In [165]:
#datos_mar_del_plata_completo.isnull().sum()

In [166]:
geo_nulos = geo_nulos.fillna(datos_mar_del_plata_completo)
geo_nulos.isnull().sum()

place_name                    23
place_with_parent_names        0
geonames_id                18717
lat-lon                    40589
lat                        40589
lon                        40589
dtype: int64

### LIMPIEZA TIGRE

In [167]:
mask_tigre = geo_nulos['place_name']== "Tigre"
datos_tigre = geo_nulos.loc[mask_tigre, :]
#datos_tigre.sort_values(by="geonames_id").sample(10)

In [168]:
#datos_tigre.isnull().sum()

In [169]:
#display(datos_tigre.groupby(['geonames_id']).mean())

In [170]:
values_3427753 = {"geonames_id":3427753.0, "place_name":"Tigre","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|","lat-lon" : "-34.408622, -58.636493", "lat": -34.408622, "lon": -58.636493}
datos_tigre_completo = datos_tigre.fillna(values_3427753)
#datos_tigre_completo.head()

In [171]:
#datos_tigre_completo.isnull().sum()

In [172]:
geo_nulos = geo_nulos.fillna(datos_tigre_completo)
geo_nulos.isnull().sum()

place_name                    23
place_with_parent_names        0
geonames_id                17752
lat-lon                    38801
lat                        38801
lon                        38801
dtype: int64

In [173]:
mask_tigre2 = geo_nulos['place_with_parent_names'] == "|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||"
datos_tigre2 = geo_nulos.loc[mask_tigre2, :]
datos_tigre_completo2 = datos_tigre2.fillna(values_3427753)
datos_tigre_completo2.head()

,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon
6489,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,3427753.0,"-34.4008968545,-58.63809847",-34.400897,-58.638098
10201,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,3427753.0,"-34.400704,-58.638067",-34.400704,-58.638067
11451,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,3427753.0,"-34.4026880384,-58.6262613379",-34.402688,-58.626261
14839,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,3427753.0,"-34.4007994779,-58.6381735719",-34.400799,-58.638174
18622,Tigre,|Argentina|Bs.As. G.B.A. Zona Norte|Tigre||,3427753.0,"-34.4032781195,-58.6263503945",-34.403278,-58.626350

In [174]:
geo_nulos = geo_nulos.fillna(datos_tigre_completo2)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                17729
lat-lon                    38801
lat                        38801
lon                        38801
dtype: int64

### LIMPIEZA NORDELTA

In [175]:
mask_nordelta = geo_nulos['place_name']== "Nordelta"
datos_nordelta = geo_nulos.loc[mask_nordelta, :]
#datos_nordelta.sort_values(by="geonames_id").sample(10)

In [176]:
#datos_nordelta.isnull().sum()

In [177]:
#datos_nordelta.mean()

In [178]:
values_3427753_Nord = {"geonames_id":3427753.0, "place_name":"Nordelta","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Norte|Tigre|Nord...","lat-lon" : "-34.410920, -58.644708", "lat": -34.410920, "lon": -58.644708}
datos_nordelta_completo = datos_nordelta.fillna(values_3427753_Nord)
#datos_nordelta_completo.head()

In [179]:
#datos_nordelta_completo.isnull().sum()

In [180]:
geo_nulos = geo_nulos.fillna(datos_nordelta_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14414
lat-lon                    37050
lat                        37050
lon                        37050
dtype: int64

### LIMPIEZA BELGRANO

In [181]:
mask_belgrano = geo_nulos['place_name']== "Belgrano"
datos_belgrano = geo_nulos.loc[mask_belgrano, :]
#datos_belgrano.sort_values(by="geonames_id").sample(10)

In [182]:
#datos_belgrano.isnull().sum()

In [183]:
#display(datos_belgrano.groupby(['geonames_id']).mean())

In [184]:
values_3436077 = {"geonames_id":3436077.0, "place_name":"Belgrano","place_with_parent_names": "|Argentina|Capital Federal|Belgrano|","lat-lon" : "-34.563541, -58.453904", "lat": -34.563541, "lon": -58.453904}
datos_belgrano_completo = datos_belgrano.fillna(values_3436077)
#datos_belgrano_completo.head()

In [185]:
#datos_belgrano_completo.isnull().sum()

In [186]:
geo_nulos = geo_nulos.fillna(datos_belgrano_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14414
lat-lon                    36031
lat                        36031
lon                        36031
dtype: int64

### LIMPIEZA PALERMO

In [187]:
mask_palermo = geo_nulos['place_name']== "Palermo"
datos_palermo = geo_nulos.loc[mask_palermo, :]
#datos_palermo.sort_values(by="geonames_id").sample(10)

In [188]:
#datos_palermo.isnull().sum()

In [189]:
#display(datos_palermo.groupby(['geonames_id']).mean())

In [190]:
values_3430234 = {"geonames_id":3430234.0, "place_name":"Palermo","place_with_parent_names": "|Argentina|Capital Federal|Palermo|","lat-lon" : "-34.583105, -58.424693", "lat": -34.583105, "lon": -58.424693}
datos_palermo_completo = datos_palermo.fillna(values_3430234)
#datos_palermo_completo.head()

In [191]:
#datos_palermo_completo.isnull().sum()

In [192]:
geo_nulos = geo_nulos.fillna(datos_palermo_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14414
lat-lon                    35232
lat                        35232
lon                        35232
dtype: int64

### LIMPIEZA LA PLATA

In [193]:
mask_la_plata = geo_nulos['place_name']== "La Plata"
datos_la_plata = geo_nulos.loc[mask_la_plata, :]
#datos_la_plata.sort_values(by="geonames_id").sample(10)

In [194]:
#datos_la_plata.isnull().sum()

In [195]:
#display(datos_la_plata.groupby(['geonames_id']).mean())

In [196]:
values_3432039 = {"geonames_id":3432039.0, "place_name":"La Plata","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Sur|La Plata|","lat-lon" : "-34.924338, -57.966073", "lat": -34.924338, "lon": -57.966073}
datos_la_plata_completo = datos_la_plata.fillna(values_3432039)
#datos_la_plata_completo.head()

In [197]:
#datos_la_plata_completo.isnull().sum()

In [198]:
geo_nulos = geo_nulos.fillna(datos_la_plata_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14414
lat-lon                    33763
lat                        33763
lon                        33763
dtype: int64

### LIMPIEZA CABALLITO

In [199]:
mask_caballito = geo_nulos['place_name']== "Caballito"
datos_caballito = geo_nulos.loc[mask_caballito, :]
#datos_caballito.sort_values(by="geonames_id").sample(10)

In [200]:
#datos_caballito.isnull().sum()

In [201]:
#display(datos_caballito.groupby(['geonames_id']).mean())

In [202]:
values_3435874 = {"geonames_id":3435874.0, "place_name":"Caballito","place_with_parent_names": "|Argentina|Capital Federal|Caballito|","lat-lon" : "-34.618748, -58.442827", "lat": -34.618748, "lon": -58.442827}
datos_caballito_completo = datos_caballito.fillna(values_3435874)
#datos_caballito_completo.head()

In [203]:
#datos_caballito_completo.isnull().sum()

In [204]:
geo_nulos = geo_nulos.fillna(datos_caballito_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14414
lat-lon                    33317
lat                        33317
lon                        33317
dtype: int64

### LIMPIEZA PILAR

In [205]:
mask_pilar = geo_nulos['place_name']== "Pilar"
datos_pilar = geo_nulos.loc[mask_pilar, :]
#datos_pilar.sort_values(by="geonames_id").sample(10)

In [206]:
#datos_pilar.isnull().sum()

In [207]:
#display(datos_pilar.groupby(['geonames_id']).mean())

In [208]:
#display(datos_pilar.groupby(['geonames_id']).count())

In [209]:
values_3429979 = {"geonames_id":3429979.0, "place_name":"Pilar","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Norte|Pilar|","lat-lon" : "-34.448529, -58.868267", "lat": -34.448529, "lon": -58.868267}
datos_pilar_completo = datos_pilar.fillna(values_3429979)
#datos_pilar_completo.head()

In [210]:
#datos_pilar_completo.isnull().sum()

In [211]:
geo_nulos = geo_nulos.fillna(datos_pilar_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14046
lat-lon                    32059
lat                        32059
lon                        32059
dtype: int64

### LIMPIEZA VILLA URQUIZA

In [212]:
mask_villa_urquiza = geo_nulos['place_name']== "Villa Urquiza"
datos_villa_urquiza = geo_nulos.loc[mask_villa_urquiza, :]
#datos_villa_urquiza.sort_values(by="geonames_id").sample(10)

In [213]:
#datos_villa_urquiza.isnull().sum()

<!--     original	bajado	saldo
geo: 18717 - 4648 - 14069/
lat-lon: 51550 - 19491 - 32059/
lat: 51550 - 19491 - 32059/
lon: 51550 - 19491 - 32059 -->

In [214]:
#display(datos_villa_urquiza.groupby(['geonames_id']).mean())

In [215]:
values_3433775 = {"geonames_id":3433775.0, "place_name":"Villa Urquiza","place_with_parent_names": "|Argentina|Capital Federal|Villa Urquiza|","lat-lon" : "-34.573057, -58.483033", "lat": -34.573057, "lon": -58.483033}
datos_villa_urquiza_completo = datos_villa_urquiza.fillna(values_3429979)
#datos_villa_urquiza_completo.head()

In [216]:
#datos_villa_urquiza_completo.isnull().sum()

In [217]:
geo_nulos = geo_nulos.fillna(datos_villa_urquiza_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14046
lat-lon                    31515
lat                        31515
lon                        31515
dtype: int64

### LIMPIEZA OLIVOS

In [218]:
mask_olivos = geo_nulos['place_name']== "Olivos"
datos_olivos = geo_nulos.loc[mask_olivos, :]
#datos_olivos.sort_values(by="geonames_id").sample(10)

In [219]:
#datos_olivos.isnull().sum()

In [220]:
#display(datos_olivos.groupby(['geonames_id']).mean())

In [221]:
values_3430310 = {"geonames_id":3430310.0, "place_name":"Olivos","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Norte|Vicente Ló...","lat-lon" : "-34.510486, -58.490124", "lat": -34.510486, "lon": -58.490124}
datos_olivos_completo = datos_olivos.fillna(values_3429979)
#datos_olivos_completo.head()

In [222]:
#datos_olivos_completo.isnull().sum()

In [223]:
geo_nulos = geo_nulos.fillna(datos_olivos_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14046
lat-lon                    30399
lat                        30399
lon                        30399
dtype: int64

### LIMPIEZA RECOLETA

In [224]:
mask_recoleta = geo_nulos['place_name']== "Recoleta"
datos_recoleta = geo_nulos.loc[mask_recoleta, :]
#datos_recoleta.sort_values(by="geonames_id").sample(10)

In [225]:
#datos_recoleta.isnull().sum()

In [226]:
#display(datos_recoleta.groupby(['geonames_id']).mean())

In [227]:
values_3429595 = {"geonames_id":3429595.0, "place_name":"Recoleta","place_with_parent_names": "|Argentina|Capital Federal|Recoleta|","lat-lon" : "-34.592, -58.395299", "lat": -34.592, "lon": -58.395299}
datos_recoleta_completo = datos_recoleta.fillna(values_3429595)
#datos_recoleta_completo.head()

In [228]:
#datos_recoleta_completo.isnull().sum()

In [229]:
geo_nulos = geo_nulos.fillna(datos_recoleta_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                14046
lat-lon                    30130
lat                        30130
lon                        30130
dtype: int64

### LIMPIEZA LOMAS DE ZAMORA

In [230]:
mask_lomas_de_zamora = geo_nulos['place_name']== "Lomas de Zamora"
datos_lomas_de_zamora = geo_nulos.loc[mask_lomas_de_zamora, :]
#datos_lomas_de_zamora.sort_values(by="geonames_id").sample(10)

In [231]:
#datos_lomas_de_zamora.isnull().sum()

In [232]:
#display(datos_lomas_de_zamora.groupby(['geonames_id']).mean())

In [233]:
values_3431270 = {"geonames_id":3431270.0, "place_name":"Lomas de Zamora","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...","lat-lon" : "-34.76043, -58.412512", "lat": -34.76043, "lon": -58.412512}
datos_lomas_de_zamora_completo = datos_lomas_de_zamora.fillna(values_3431270)
#datos_lomas_de_zamora_completo.head()

In [234]:
#datos_lomas_de_zamora_completo.isnull().sum()

In [235]:
geo_nulos = geo_nulos.fillna(datos_lomas_de_zamora_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    29136
lat                        29136
lon                        29136
dtype: int64

### LIMPIEZA FLORES

In [236]:
mask_flores = geo_nulos['place_name']== "Flores"
datos_flores = geo_nulos.loc[mask_flores, :]
#datos_flores.sort_values(by="geonames_id").sample(10)

In [237]:
#datos_flores.isnull().sum()

In [238]:
#display(datos_flores.groupby(['geonames_id']).mean())

In [239]:
values_3433918 = {"geonames_id":3433918.0, "place_name":"Flores","place_with_parent_names": "|Argentina|Capital Federal|Flores|","lat-lon" : "-34.628981, -58.46387", "lat": -34.628981, "lon": -58.46387}
datos_flores_completo = datos_flores.fillna(values_3431270)
#datos_flores_completo.head()

In [240]:
geo_nulos = geo_nulos.fillna(datos_flores_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    28981
lat                        28981
lon                        28981
dtype: int64

### LIMPIEZA ITUZAINGO

In [241]:
mask_ituzaingo = geo_nulos['place_name']== "Ituzaingó"
datos_ituzaingo = geo_nulos.loc[mask_ituzaingo, :]
#datos_ituzaingo.sort_values(by="geonames_id").sample(10)

In [242]:
#datos_ituzaingo.isnull().sum()

In [243]:
#display(datos_ituzaingo.groupby(['geonames_id']).mean())

In [244]:
geo_mask_3 = datos_ituzaingo.place_with_parent_names == "|Argentina|Corrientes|Ituzaingó|"
geo_mask_4 = datos_ituzaingo.place_with_parent_names == "|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó|"

datos_ituzaingo_3433357 = datos_ituzaingo.loc[geo_mask_3, :]
values_3433357 = {"geonames_id":3433357.0, "place_name":"Ituzaingó","place_with_parent_names": "|Argentina|Corrientes|Ituzaingó|", "lat-lon" : "-27.573083, -56.705464", "lat": -27.573083, "lon": -56.705464}


datos_ituzaingo_3433359 = datos_ituzaingo.loc[geo_mask_4, :]
values_3860259 = {"geonames_id":3860259.0, "place_name":"Ituzaingó","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Oeste|Ituzaingó||","lat-lon" : "-34.652894, -58.673752", "lat": -34.652894, "lon": -58.673752}


datos_ituzaingo_33433357 = datos_ituzaingo.fillna(values_3433357)
datos_ituzaingo_completo = datos_ituzaingo.fillna(values_3860259)
#datos_ituzaingo_completo.head()

In [245]:
#datos_ituzaingo_completo.isnull().sum()

In [246]:
geo_nulos = geo_nulos.fillna(datos_ituzaingo_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    28182
lat                        28182
lon                        28182
dtype: int64

### LIMPIEZA VILLA CRESPO

In [247]:
mask_villa_crespo = geo_nulos['place_name']== "Villa Crespo"
datos_villa_crespo = geo_nulos.loc[mask_villa_crespo, :]
#datos_villa_crespo.sort_values(by="geonames_id").sample(10)

In [248]:
#datos_villa_crespo.isnull().sum()

In [249]:
#display(datos_villa_crespo.groupby(['geonames_id']).mean())

In [250]:
values_3427458 = {"geonames_id":3427458.0, "place_name":"Villa Crespo","place_with_parent_names": "|Argentina|Capital Federal|Villa Crespo|","lat-lon" : "-34.597889, -58.439293", "lat": -34.597889, "lon": -58.439293}
datos_villa_crespo_completo = datos_villa_crespo.fillna(values_3427458)
#datos_villa_crespo_completo.head()

In [251]:
geo_nulos = geo_nulos.fillna(datos_villa_crespo_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    27792
lat                        27792
lon                        27792
dtype: int64

### LIMPIEZA CAPITAL FEDEREAL

In [252]:
mask_capital_federal = geo_nulos['place_name']== "Capital Federal"
datos_capital_federal = geo_nulos.loc[mask_capital_federal, :]
#datos_capital_federal.sort_values(by="geonames_id").sample(10)

In [253]:
#datos_capital_federal.isnull().sum()

In [254]:
#display(datos_capital_federal.groupby(['geonames_id']).mean())

In [255]:
values_3433955 = {"geonames_id":3433955.0, "place_name":"Capital Federal","place_with_parent_names": "|Argentina|Capital Federal|","lat-lon" : "-34.626709, -58.435882", "lat": -34.626709, "lon": -58.435882}
datos_capital_federal_completo = datos_capital_federal.fillna(values_3433955)
#datos_capital_federal_completo.head()

In [256]:
geo_nulos = geo_nulos.fillna(datos_capital_federal_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    27097
lat                        27097
lon                        27097
dtype: int64

### LIMPIEZA SAN TELMO

In [277]:
mask_san_telmo = geo_nulos['place_name']== "San Telmo"
datos_san_telmo = geo_nulos.loc[mask_san_telmo, :]
#datos_san_telmo.sort_values(by="geonames_id").sample(10)

In [281]:
#datos_san_telmo.isnull().sum()

In [282]:
#display(datos_san_telmo.groupby(['geonames_id']).mean())

In [280]:
values_3428113 = {"geonames_id":3428113.0, "place_name":"San Telmo","place_with_parent_names": "|Argentina|Capital Federal|San Telmo|","lat-lon" : "-34.620805, -58.376068", "lat": -34.620805, "lon": 	-58.376068}
datos_san_telmo_completo = datos_san_telmo.fillna(values_3428113)
#datos_san_telmo_completo.head()

In [278]:
geo_nulos = geo_nulos.fillna(datos_san_telmo_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    26635
lat                        26635
lon                        26635
dtype: int64

### LIMPIEZA MORON

In [289]:
mask_moron = geo_nulos['place_name']== "Morón"
datos_moron = geo_nulos.loc[mask_moron, :]
#datos_moron.sort_values(by="geonames_id").sample(10)

In [288]:
#datos_moron.isnull().sum()

In [292]:
#display(datos_moron.groupby(['geonames_id']).mean())

In [335]:
values_3430544 = {"geonames_id":3430544.0, "place_name":"Morón","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Oeste|Morón|","lat-lon" : "-34.654915, -58.62302", "lat": -34.654915, "lon": -58.62302}
datos_moron_completo = datos_moron.fillna(values_3430544)
#datos_moron_completo.head()

In [290]:
geo_nulos = geo_nulos.fillna(datos_moron_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    25944
lat                        25944
lon                        25944
dtype: int64

### LIMPIEZA ALMAGRO

In [338]:
mask_almagro = geo_nulos['place_name']== "Almagro"
datos_almagro = geo_nulos.loc[mask_almagro, :]
#datos_almagro.sort_values(by="geonames_id").sample(10)

In [332]:
#datos_almagro.isnull().sum()

In [339]:
#display(datos_almagro.groupby(['geonames_id']).mean())

In [341]:
values_3436397 = {"geonames_id":3436397.0, "place_name":"Almagro","place_with_parent_names": "|Argentina|Capital Federal|Almagro|","lat-lon" : "-34.608187, -58.421223", "lat": -34.608187, "lon": -58.421223}
datos_almagro_completo = datos_almagro.fillna(values_3436397)
#datos_almagro_completo.head()

In [340]:
geo_nulos = geo_nulos.fillna(datos_almagro_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    25741
lat                        25741
lon                        25741
dtype: int64

### LIMPIEZA BARRIO NORTE

In [350]:
mask_barrio_norte = geo_nulos['place_name']== "Barrio Norte"
datos_barrio_norte = geo_nulos.loc[mask_barrio_norte, :]
#datos_barrio_norte.sort_values(by="geonames_id").sample(10)

In [349]:
#datos_barrio_norte.isnull().sum()

In [348]:
#display(datos_barrio_norte.groupby(['geonames_id']).mean())

In [352]:
values_3436109 = {"geonames_id":3436109.0, "place_name":"Barrio Norte","place_with_parent_names": "	|Argentina|Capital Federal|Barrio Norte|","lat-lon" : "-34.593104, -58.400381", "lat": -34.593104, "lon": -58.400381}
datos_barrio_norte_completo = datos_barrio_norte.fillna(values_3436109)
#datos_barrio_norte_completo.head()

In [351]:
geo_nulos = geo_nulos.fillna(datos_barrio_norte_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    25513
lat                        25513
lon                        25513
dtype: int64

### LIMPIEZA RAMOS MEJIA

In [361]:
mask_ramos_mejia = geo_nulos['place_name']== "Ramos Mejía"
datos_ramos_mejia = geo_nulos.loc[mask_ramos_mejia, :]
#datos_ramos_mejia.sort_values(by="geonames_id").sample(10)

In [357]:
#datos_ramos_mejia.isnull().sum()

In [360]:
#display(datos_ramos_mejia.groupby(['geonames_id']).mean())

In [362]:
values_3429617 = {"geonames_id":3429617.0, "place_name":"Ramos Mejía","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Oeste|La Matanza...","lat-lon" : "-34.648363, -58.562762", "lat": -34.648363, "lon": -58.562762}
datos_ramos_mejia_completo = datos_ramos_mejia.fillna(values_3429617)
#datos_barrio_norte_completo.head()

In [364]:
geo_nulos = geo_nulos.fillna(datos_ramos_mejia_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    24850
lat                        24850
lon                        24850
dtype: int64

### LIMPIEZA MARTINEZ

In [371]:
mask_martinez = geo_nulos['place_name']== "Martínez"
datos_martinez = geo_nulos.loc[mask_martinez, :]
#datos_martinez.sort_values(by="geonames_id").sample(10)

In [370]:
#datos_martinez.isnull().sum()

In [369]:
#display(datos_martinez.groupby(['geonames_id']).mean())

In [373]:
values_3430813 = {"geonames_id":3430813.0, "place_name":"Martínez","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro...","lat-lon" : "-34.492594, -58.506898", "lat": 	-34.492594, "lon": -58.506898}
datos_martinez_completo = datos_martinez.fillna(values_3430813)
#datos_martinez_completo.head()

In [372]:
geo_nulos = geo_nulos.fillna(datos_martinez_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                12793
lat-lon                    24017
lat                        24017
lon                        24017
dtype: int64

### LIMPIEZA LANUS

In [378]:
mask_lanus = geo_nulos['place_name']== "Lanús"
datos_lanus = geo_nulos.loc[mask_lanus, :]
#datos_lanus.sort_values(by="geonames_id").sample(10)

In [379]:
#datos_lanus.isnull().sum()

In [382]:
#display(datos_lanus.groupby(['geonames_id']).mean())

In [381]:
values_3432134 = {"geonames_id":3432134.0, "place_name":"Lanús","place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Sur|Lanús|Lanús|","lat-lon" : "-34.701389, -58.398743", "lat": -34.701389, "lon": -58.398743}
datos_lanus_completo = datos_lanus.fillna(values_3432134)
#datos_lanus_completo.head()

In [380]:
geo_nulos = geo_nulos.fillna(datos_lanus_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                11822
lat-lon                    23290
lat                        23290
lon                        23290
dtype: int64

### LIMPIEZA ESCOBAR

In [391]:
mask_escobar = geo_nulos['place_name']== "Escobar"
datos_escobar = geo_nulos.loc[mask_escobar, :]
#datos_escobar.sort_values(by="geonames_id").sample(10)

In [393]:
#datos_escobar.isnull().sum()

In [387]:
display(datos_escobar.groupby(['geonames_id']).mean())

                  lat        lon
geonames_id
3434130.0   -34.36929 -58.756345

In [392]:
values_3434130 = {"geonames_id":3434130.0, "place_name":"Escobar", "place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Norte|Escobar|","lat-lon" : "-34.36929, -58.756345", "lat": -34.36929, "lon": -58.756345}
datos_escobar_completo = datos_escobar.fillna(values_3434130)
#datos_escobar_completo.head()

In [390]:
geo_nulos = geo_nulos.fillna(datos_escobar_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                11822
lat-lon                    22541
lat                        22541
lon                        22541
dtype: int64

### LIMPIEZA BANFIELD

In [402]:
mask_banfield = geo_nulos['place_name']== "Banfield"
datos_banfield = geo_nulos.loc[mask_banfield, :]
#datos_banfield.sort_values(by="geonames_id").sample(10)

In [396]:
datos_banfield.isnull().sum()

place_name                   0
place_with_parent_names      0
geonames_id                  0
lat-lon                    757
lat                        757
lon                        757
dtype: int64

In [401]:
#display(datos_banfield.groupby(['geonames_id']).mean())

In [404]:
values_3436152 = {"geonames_id":3436152.0, "place_name":"Banfield", "place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Sur|Lomas de Zam...","lat-lon" : "-34.742923, -58.399492", "lat": -34.742923, "lon": -58.399492}
datos_banfield_completo = datos_banfield.fillna(values_3436152)#
#datos_banfield_completo.head()

In [399]:
geo_nulos = geo_nulos.fillna(datos_banfield_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                11822
lat-lon                    21784
lat                        21784
lon                        21784
dtype: int64

### LIMPIEZA SAN ISIDRO

In [415]:
mask_sa_isidro = geo_nulos['place_name']== "San Isidro"
datos_san_isidro = geo_nulos.loc[mask_sa_isidro, :]
#datos_san_isidro.sort_values(by="geonames_id").sample(10)

In [414]:
#datos_san_isidro.isnull().sum()

In [411]:
#display(datos_san_isidro.groupby(['geonames_id']).mean())

In [410]:
values_34289983 = {"geonames_id":3428983.0, "place_name":"San Isidro", "place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Norte|San Isidro|","lat-lon" : "-34.478067, -58.536362", "lat": -34.478067, "lon": -58.536362}
datos_san_isidro_completo = datos_san_isidro.fillna(values_34289983)
#datos_san_isidro_completo.head()

In [409]:
geo_nulos = geo_nulos.fillna(datos_san_isidro_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                11822
lat-lon                    21090
lat                        21090
lon                        21090
dtype: int64

### LIMPIEZA PINAMAR

In [416]:
mask_pinarmar = geo_nulos['place_name']== "Pinamar"
datos_pinamar = geo_nulos.loc[mask_pinarmar, :]
datos_pinamar.sort_values(by="geonames_id").sample(10)

,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon
8961,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.114514867,-56.876605635",-37.114515,-56.876606
18081,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.0990254,-56.8486031",-37.099025,-56.848603
39625,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.0938988,-56.8528309",-37.093899,-56.852831
35967,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.0133383959,-56.7925559333",-37.013338,-56.792556
11822,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.1116549,-56.8697168",-37.111655,-56.869717
6456,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,NaN,NaN,NaN
14913,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.1014238092,-56.8438612274",-37.101424,-56.843861
14939,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.1133098,-56.8643058",-37.113310,-56.864306
44554,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.109847,-56.8557162",-37.109847,-56.855716
31146,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.1072797,-56.864273",-37.107280,-56.864273

In [417]:
datos_pinamar.isnull().sum()

place_name                   0
place_with_parent_names      0
geonames_id                  0
lat-lon                    116
lat                        116
lon                        116
dtype: int64

In [418]:
display(datos_pinamar.groupby(['geonames_id']).mean())

                  lat        lon
geonames_id
3429971.0   -37.10956 -56.860607

In [419]:
values_3429971 = {"geonames_id":3429971.0, "place_name":"Pinamar", "place_with_parent_names": "|Argentina|Buenos Aires Costa Atlántica|Pinamar|","lat-lon" : "-37.10956	-56.860607", "lat": -37.10956, "lon": -56.860607}
datos_pinamar_completo = datos_pinamar.fillna(values_3429971)
datos_pinamar_completo.head()

,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon
968,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.1093307,-56.8564926",-37.109331,-56.856493
120205,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.0991133862,-56.8405399116",-37.099113,-56.840540
113267,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.1257893563,-56.8652766178",-37.125789,-56.865277
46951,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.0841918,-56.8374748",-37.084192,-56.837475
40260,Pinamar,|Argentina|Buenos Aires Costa Atlántica|Pinamar|,3429971.0,"-37.0808215463,-56.8267850348",-37.080822,-56.826785

In [420]:
geo_nulos = geo_nulos.fillna(datos_pinamar_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                11822
lat-lon                    20974
lat                        20974
lon                        20974
dtype: int64

### LIMPIEZA BOEDO

In [425]:
mask_boedo = geo_nulos['place_name']== "Boedo"
datos_boedo = geo_nulos.loc[mask_boedo, :]
#datos_boedo.sort_values(by="geonames_id").sample(10)

In [422]:
datos_boedo.isnull().sum()

place_name                   0
place_with_parent_names      0
geonames_id                  0
lat-lon                    548
lat                        548
lon                        548
dtype: int64

In [423]:
display(datos_boedo.groupby(['geonames_id']).mean())

                   lat        lon
geonames_id
3436003.0   -34.625496 -58.417307

In [424]:
values_3436003 = {"geonames_id":3436003.0, "place_name":"Boedo", "place_with_parent_names": "|Argentina|Capital Federal|Boedo|","lat-lon" : "-34.625496, -58.417307", "lat": -34.625496, "lon": -58.417307}
datos_boedo_completo = datos_boedo.fillna(values_3436003)
datos_boedo_completo.head()

,place_name,place_with_parent_names,geonames_id,lat-lon,lat,lon
25522,Boedo,|Argentina|Capital Federal|Boedo|,3436003.0,"-34.625496, -58.417307",-34.625496,-58.417307
25523,Boedo,|Argentina|Capital Federal|Boedo|,3436003.0,"-34.625496, -58.417307",-34.625496,-58.417307
25536,Boedo,|Argentina|Capital Federal|Boedo|,3436003.0,"-34.625496, -58.417307",-34.625496,-58.417307
105084,Boedo,|Argentina|Capital Federal|Boedo|,3436003.0,"-34.6208776148,-58.4164461837",-34.620878,-58.416446
25535,Boedo,|Argentina|Capital Federal|Boedo|,3436003.0,"-34.625496, -58.417307",-34.625496,-58.417307

In [426]:
geo_nulos = geo_nulos.fillna(datos_boedo_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                11822
lat-lon                    20426
lat                        20426
lon                        20426
dtype: int64

### LIMPIEZA NUÑEZ

In [434]:
mask_nunez = geo_nulos['place_name']== "Nuñez"
datos_nunez = geo_nulos.loc[mask_nunez, :]
#datos_nunez.sort_values(by="geonames_id").sample(10)

In [433]:
#datos_nunez.isnull().sum()

In [432]:
#display(datos_nunez.groupby(['geonames_id']).mean())

In [438]:
values_3430348 = {"geonames_id":3430348.0, "place_name":"Nuñez", "place_with_parent_names": "|Argentina|Capital Federal|Nuñez|","lat-lon" : "-34.549629, -58.463268", "lat": -34.549629, "lon": -58.463268}
datos_nunez_completo = datos_nunez.fillna(values_3430348)
#datos_nunez_completo.head()

In [436]:
geo_nulos = geo_nulos.fillna(datos_nunez_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                11822
lat-lon                    20195
lat                        20195
lon                        20195
dtype: int64

### LIMPIEZA SAN MIGUEL

In [447]:
mask_sa_miguel = geo_nulos['place_name']== "San Miguel"
datos_san_miguel = geo_nulos.loc[mask_sa_miguel, :]#
#datos_san_miguel.sort_values(by="geonames_id").sample(10)

In [444]:
#datos_san_miguel.isnull().sum()

In [442]:
display(datos_san_miguel.mean())

geonames_id          NaN
lat           -34.542439
lon           -58.713420
dtype: float64

In [ ]:
geoname = 34645366.0

In [448]:
values_34645366 = {"geonames_id":34645366.0, "place_name":"San Miguel", "place_with_parent_names": "|Argentina|Bs.As. G.B.A. Zona Norte|San Miguel|","lat-lon" : " -34.542439, -58.713420", "lat":  -34.542439, "lon":  -58.713420}
datos_san_miguel_completo = datos_san_miguel.fillna(values_3430348)
#datos_san_miguel_completo.head()

In [445]:
geo_nulos = geo_nulos.fillna(datos_san_miguel_completo)
geo_nulos.isnull().sum()

place_name                     0
place_with_parent_names        0
geonames_id                11070
lat-lon                    20125
lat                        20125
lon                        20125
dtype: int64